<app-main-tool-bar></app-main-tool-bar>


<div fxLayout="row" fxLayoutAlign="center none">
  <mat-card fxFlex="30" fxFlex.lt-sm="95" fxFlex.gt-lg="750px" class="about-card mat-elevation-z5"
   fxFlex.lt-lg="70" fxFlex.lt-xl="30">
    <img src="assets/headshot.jpg" alt="Headshot" class="photo" mat-card-image>
    <mat-card-title>Julio Lama</mat-card-title>
    <mat-card-subtitle color="accent">
      DePaul University<br>
      Bachelor of Science (B.S.) <br>
      Computer Science, Software Development
    </mat-card-subtitle>

    <mat-card-content fxLayoutAlign="center none">
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>
          <a routerLink="resume">Resume</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a routerLink="projects">Projects</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a routerLink="contact-me">Contact</a>
        </mat-list-item>
      </mat-list>

    </mat-card-content>
  </mat-card>

</div>

<router-outlet></router-outlet>
