<!--<div fxLayout="row" fxLayoutAlign="center center">-->
<!--&lt;!&ndash;  <h3>My GitHub Repositories</h3>&ndash;&gt;-->
<!--  <h3>Projects</h3>-->
<!--</div>-->

<div fxLayout="row"
     fxLayout.xs="column"
     fxLayout.sm="column"
     fxLayoutAlign="center none"
     fxLayoutAlign.xs="center center"
     fxLayoutAlign.sm="center center"
     fxLayoutGap="20px" class="projects"
     style="padding-bottom: 20px"
     *ngFor="let repo of myProjects">


  <mat-card fxFlexFill>
    <mat-card-title>{{repo.name}}</mat-card-title>
    <mat-card-subtitle>Description</mat-card-subtitle>
    <mat-card-content>
      {{repo.description}}
    </mat-card-content>
    <mat-card-content>
      <b>Technologies: </b>{{repo.technologies}}
    </mat-card-content>

    <mat-card-actions>
      <a href="{{repo.url}}" mat-stroked-button>Visit repo</a>
    </mat-card-actions>
  </mat-card>
</div>

<span fxLayout="row" fxLayoutAlign="center center" style="padding-bottom: 20px">
    <a href="https://github.com/jlama94" mat-stroked-button color="primary">My GitHub Repositories</a>
</span>


