<app-main-tool-bar></app-main-tool-bar>

<!--https://www.npmjs.com/package/angular-cli-ghpages-->
<mat-grid-list cols="2" rowHeight="250px">
  <mat-grid-tile>
    <a href="https://www.linkedin.com/in/julio-lama/">LinkedIn</a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a href="mailto:lamajulio17@gmail.com">e-mail</a>
  </mat-grid-tile>

  <mat-grid-tile>
    <a href="https://github.com/jlama94">GitHub</a>
  </mat-grid-tile>

  <mat-grid-tile>
      <a href="tel:3128743777">Mobile number</a>
  </mat-grid-tile>

</mat-grid-list>
